<!DOCTYPE html>
<html lang="en">
  <head>
      {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NOT GOOGLE SEARCH</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../">NOT GOOGLE SEARCH</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="">Search</a></li>
            <li><a href="indexing_view">Index URLs</a></li>
            <li><a href="known_urls_view">Known URLs</a></li>
            <li><a href="params_view">Control</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <br> <br>

    <div class="container">

      <div class="starter-template" align="center">
        <h1>NOT GOOGLE SEARCH</h1>
      </div>

      <div align="center">
        <form  method="GET" action="">
            <input type="text" name="input" style="height: 50px; width: 100%; font-size: 35pt; role: combobox;"/> <br> <br>
            <input type="submit" value="Search" style="width: 15%; height: 50px; font-size: 25px" >
        </form>
      </div>
        <hr style="background-color: black; height: 2px;">

        {% if wiki_url %}
                <h3>Found on wiki:</h3>
                <h3>&emsp;<a href="{{wiki_url}}">{{ wiki_url }}</a></h3>
                <hr style="background-color: black; height: 2px;">
        {% endif %}

        {% if urls|length != 0 %}
        <h2>{{number_of_results}} results found: </h2>
        {% else %}
         <h2>No results in database</h2>
        {% endif %}
        <div style="background-color:#F9F9F9;">
            {% for url in urls %}
                <h3>{{forloop.counter}}.
                <a href="{{url}}">{{url}}</a>
                  </h3>
            {% endfor % %}

            <p></p>
        </div>

    </div>
  </body>
</html>